<div class="divider">
  <h2>Featured Services</h2>
</div>
<div class="gigs-container" id="tourpackages-carousel">
  <div class="row">
    <div class="col-xs-18 col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://wjyy.nh1media.com/assets/images/BLOG-LAUNDRY-IMAGE.jpg" alt="">
        <div class="caption">
          <h4>Laundry & Dry-cleaning Services</h4>
          <p>I am a stay at home mom and I offer laundry, dry-cleaning and ironing services. Drop and pickup at anytime in PJ.</p>
          <p><a href="#" class="btn btn-info btn-xs" role="button">View Profile</a> <a href="#" class="btn btn-default btn-xs" role="button">Book Now</a>
          <a class="btn btn-success btn-xs pull-right" role="button">Starting From RM10</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-18 col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://www.venusbuzz.com/wp-content/uploads/Asian_mother_working_at_home_with_baby_BLD071383.jpg" alt="">
          <div class="caption">
            <h4>Accountancy & Bookeeping Services</h4>
            <p>ACCA-certified accountant with over 10 years of bookeeping experience. Receipts sorting also available.</p>
            <p><a href="#" class="btn btn-info btn-xs" role="button">View Profile</a> <a href="#" class="btn btn-default btn-xs" role="button">Book Now</a>
            <a class="btn btn-success btn-xs pull-right" role="button">Starting From RM50/day</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-18 col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://previews.123rf.com/images/qifi/qifi1205/qifi120500016/13552362-cooking-grandmother-Stock-Photo-asian-cook-grandmother.jpg" alt="">
          <div class="caption">
            <h4>Healthy Home-cooked Family Meals</h4>
            <p>A choice of healthy family meals cooked with alot of love. Suitable for lunch and dinner.</p>
            <p><a href="#" class="btn btn-info btn-xs" role="button">View Profile</a> <a href="#" class="btn btn-default btn-xs" role="button">Book Now</a>
            <a class="btn btn-success btn-xs pull-right" role="button">Starting From RM10/pax</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-18 col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://www.spd.org.sg/upload/Updates/2013/12/Updates%20(8.2)%2006122013.jpg" alt="">
          <div class="caption">
            <h4>Professional Web Design Services</h4>
            <p>Highly-skilled web developer with keen eye for detail. Free mockups and design consultation.</p>
            <p><a href="#" class="btn btn-info btn-xs" role="button">View Profile</a> <a href="#" class="btn btn-default btn-xs" role="button">Book Now</a>
            <a class="btn btn-success btn-xs pull-right" role="button">Starting From RM3500</a></p>
        </div>
      </div>
    </div>        
  </div><!-- End row -->      
</div><!-- End container -->