<div class="container">
		<h3>Thank you for your purchase.</h3>
		<%= @purchase.gig.title %><br>
		Delivered by <%= link_to "#{@purchase.gig.user.name}", users_show_path(id: @purchase.gig.user.id) %>
</div>
