<div class="container">
  <h1>Our Mission</h1>
  <p>Toivo is a platform that provides opportunities for the physically less abled and the elderly (Talents, as we call them), as well as a chance to help by getting help for everyone else. Talents have a chance to contribute their abilities by offering Services on Toivo. We call them Services, but they can actually be either goods or services offered by our Talents. Please browse through our list of Services and see if there's anything you like. You might be surprised with the quality on offer by the so called 'less-abled'.</p>

  <p>If you see something you like, congratulations! You now have a chance to help by helping out. Trust us, it's different than simply buying something or donating. We believe that you would actually provide opportunites for our Talents to find their purpose. To contribute something to society with their abilities. Just because they're physically less abled, doesn't mean they're not extraordinarily abled in other ways!</p>

  <p>P.s. Toivo means hope in Finnish, because we believe that's what we're offering. Even it only a little bit.</p>
</div>