<section id="team">
  <div class="container">
    <div class="divider">
      <h2>Meet The Team</h2>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-inline list-unstyled text-center">
          <li>
             <img class="img-rounded responsive" width="150" height="150" <%= image_tag 'avatars/3.png' %> </>
            <h5>Aaron</h5>
            <p>Chief Voluntary Officer</p>
          </li>
          <li>
             <img class="img-rounded responsive" width="150" height="150" <%= image_tag 'avatars/4.png' %> </>
            <h5>Kevin</h5>
            <p>Chief Happiness Officer</p>
          </li>
          <li>
            <img class="img-rounded" width="150" height="150" <%= image_tag 'avatars/1.png' %> </>
            <h5>Raz</h5>
            <p>Chief Imaginary Officer</p>
          </li>
          <li>
             <img class="img-rounded responsive" width="150" height="150" <%= image_tag 'avatars/2.png' %> </>
            <h5>Sini</h5>
            <p>Chief Kindness Officer</p>
          </li>
      </ul>
    </div>
  </div>
</section>