<div class="divider">
  <h2>Featured Gigs</h2>
</div>
<div class="gigs-container" id="tourpackages-carousel">
  <div class="row">
    <div class="col-xs-18 col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://thumb1.shutterstock.com/display_pic_with_logo/496018/275120570/stock-photo-asian-housewife-use-steam-iron-and-suit-jacket-275120570.jpg" alt="">
        <div class="caption">
          <h4>Gig title</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
          <p><a href="#" class="btn btn-info btn-xs" role="button">View Profile</a> <a href="#" class="btn btn-default btn-xs" role="button">Book Now</a>
          <a class="btn btn-success btn-xs pull-right" role="button">Starting From RM70</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-18 col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://www.venusbuzz.com/wp-content/uploads/Asian_mother_working_at_home_with_baby_BLD071383.jpg" alt="">
          <div class="caption">
            <h4>Gig Title</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
            <p><a href="#" class="btn btn-info btn-xs" role="button">View Profile</a> <a href="#" class="btn btn-default btn-xs" role="button">Book Now</a>
            <a class="btn btn-success btn-xs pull-right" role="button">Starting From RM50</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-18 col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://previews.123rf.com/images/qifi/qifi1205/qifi120500016/13552362-cooking-grandmother-Stock-Photo-asian-cook-grandmother.jpg" alt="">
          <div class="caption">
            <h4>Gig Title</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
            <p><a href="#" class="btn btn-info btn-xs" role="button">View Profile</a> <a href="#" class="btn btn-default btn-xs" role="button">Book Now</a>
            <a class="btn btn-success btn-xs pull-right" role="button">Starting From RM65</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-18 col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://www.spd.org.sg/upload/Updates/2013/12/Updates%20(8.2)%2006122013.jpg" alt="">
          <div class="caption">
            <h4>Gig Title</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
            <p><a href="#" class="btn btn-info btn-xs" role="button">View Profile</a> <a href="#" class="btn btn-default btn-xs" role="button">Book Now</a>
            <a class="btn btn-success btn-xs pull-right" role="button">Starting From RM35</a></p>
        </div>
      </div>
    </div>        
  </div><!-- End row -->      
</div><!-- End container -->