   <div class="profile-jumbotron">
      <div class="jumbotron-container">
           <img class="img-rounded responsive" width="150" height="150" <%= image_tag 'avatars/2.png' %> </>
           <div class="profile-header">
            <h1>Firstname Lastname </h1>
            </div>
      </div>
    </div>
