
      <div id="navbar" class="navbar-fixed center-block" data-spy="affix" data-offset-top="197">  
        <div class="con text-center center" >
          <ul class="nav navbar-nav nav-cente center" >
            <li><a href="#">Home & Wellbeing</a></li>
            <li><a href="#">Arts & Craft</a></li>
            <li><a href="#">Tech & IT</a></li>
            <li><a href="#">Education & Training</a></li>
            <li><a href="#">Business & Finance</a></li>
            <li><a href="#">Literature & Translatieon</a></li>
          </ul>
        </div>
      </div>
          <!--
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
          </ul>
        </div>-->