<section id="intro-header">
  <div class="container">
  <!-- row 2 -->
    <div class="row">
      <div class="wrap-headline">
        <h1 class="text-center">Get Help, Give Hope</h1>
        <h2 class="text-center">Hire a professional consultant</h2>
        <hr>
      </div>
      <div class="input-group">
          <input type="text" class="form-control" placeholder="I need someone to help me with...">
          <span class="input-group-btn">
            <button class="btn btn-success" type="button">Search</button>
        </span>
      </div>
    </div>
  </div>
</section>

      
