
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: -100px;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
    <div class="videoWrapper">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/9xPAExHmIxY?start=0&end=23&rel=0&autoplay=1&controls=0&loop=1&showinfo=0" frameborder="0" allowfullscreen=""></iframe>
    </div>
      <div class="container">
        <div class="carousel-caption">
          <h1>Get Help, Give Hope</h1>
          <p>At Toivo, we believe that the greatest gift is a purpose. In helping others by letting them help you.</p>
          <p><a id="shakabtn" class="btn btn-lg btn-default" href="#" role="button">Find out how</a></p>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.carousel -->

<style> 
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 1px;
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
