<!-- Jumbotron -->
<div class="jumbotron">
  <div class="container">
    <h1>Get help, give hope</h1>
    <p>Toivo lets you help the community by getting help</p>
    <div class="btn-group">
      <a href="#testimonial" class="btn btn-lg btn-default">Our Testimonials</a>
    </div>
  </div>
</div><!-- End Jumbotron -->

<style>
  .jumbotron {
    background-image: url(http://mediterranean-quality-care.com/wp-content/uploads/2011/07/shutterstock_51781633_smaller.jpg);
    background-position: 15% 35%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 25em;
  }
</style>