<!-- Jumbotron -->
<div class="jumbotron">
  <div class="container">
    <h1>Get help, give hope</h1>
    <p>Toivo lets you help the community by getting help</p>
    <div class="btn-group">
      <a href="#testimonial" class="btn btn-lg btn-default">Our Testimonials</a>
    </div>
  </div>
</div><!-- End Jumbotron -->

